.node-default {
    padding: 10px;
    border-radius: var(--xy-node-border-radius, var(--xy-node-border-radius-default));
    font-size: 12px;
    color: var(--xy-node-color, var(--xy-node-color-default));
    text-align: center;
    border: var(--xy-node-border, var(--xy-node-border-default));
    background-color: var(--xy-node-background-color, var(--xy-node-background-color-default));
    height: 100%;
}